@charset "utf-8";
/* If something looks off from the tutorial it is likely because I didn't exactly copy his HTML structure */

/* Center the form within the page */

form {
    margin: auto;
    width: 459px;   
}

/* Text box styling */

input, textarea {
    width: 439px;
    height: 27px;
    background: #efefef;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 3px;
    font-size: .8em;
    color: #000;   
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#submit {
	padding: 1%;
	margin: auto;
	margin: 8% 0 2% 70.5%;
	width: 30%;
}

/* My CSS */

textarea {
    height: 170px; 
}

label {
    display: block;
    margin-top: 25px;  
}

.formContainer {
	width:100%;	
}