@charset "UTF-8";

.directions {
	width:auto;	
	text-align:center;
	margin: 7% 0 1% 0;
}

.categories {
	margin: 2% 0 .5% 0;	
}

/*Got this Code From Tutorial*/
.iFrame {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.iFrame iframe {
 position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

