@charset "UTF-8";
/* Site Wide CSS */

body {
    max-width: 100%; 
    margin: 0;   
    font-size: 16px;   
    background-color: #fff;
    color: #000;
    font-family: 'Lato', sans-serif;  
}

a {
    text-decoration: none;   
    color: #555; 
}

p {
	text-align: center;	
}

/* Nav Bar Styles */

nav {
    text-align: right;
	width: 100%;
	background-color: #fff; 
	font-size: 1.4em;
	padding: 0;
	padding-top: .5%;
	padding-bottom: .6%;
	  
}

ul {
	padding-right: 2%;	
}

.navigation {
    display: inline;
    margin: .5%;
	 
}

.logo {
	color:#000;	
	display: inline;
	float: left;
	margin: 0 0 0 1%;
}

/* Footer */

footer {
    text-align: center;
	padding-top: 1.3%;
	padding-bottom: .5%;  
	font-size: 79%;
	color: #000;
	background-color: #fff; 
	clear: left;
	  
}

footer i.fa {
	font-size: 2.7em;
	margin:0 .1% 0 .1%;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;	
}

footer i.fa-facebook-square:hover { 

color: #3b5998;
	
}

footer i.fa-instagram:hover { 

color: #125688;
	
}

footer i.fa-flickr:hover { 

color: #ff0084;
	
}

footer i.fa-twitter-square:hover { 

color: #00aced;
	
}

.container {
    padding-top: 2.5%; 
	padding-bottom: 2.5%;  
}

i.fa {
    font-size: 2em;   
}




/* Styling for Photography and Design Pages */

.categories {
	font-size: 1.4em;	
	text-align: center;
	padding-top: 2%;
	padding-bottom: 1%;
}

.imageGrid {
	width: 100%;
	display: block;	
	text-align: center;
    font-size:0;
    padding: 0;
    margin:0;

}

.images {
	width:9%;
    marign: 0;
    padding: 0;
    	

}

.fullWidth {
    width: 50%; 
    margin: auto;
    padding: auto; 
}

.imageGrid > a > img{
  display:inline-block;
  width:100%;
  margin:0;
  padding:0;
}

.imageGrid > a {
  display:inline-block;
  width:20%;
  padding:0;
  margin:0;
}

/*Button Styling */
a.btn {
   width: 11%;
   padding: .6%;
   text-align: center; 
   border: 1px solid #fff;
   font-size: 1.2em;
   background-color: #000;
   color: #fff;
   border-radius: 9px;   
}

.btn:hover {
	
    background-color: #fff;
    color: #000;
	border: solid 1px #000;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 900px) {
	nav {
        text-align: center;   
    }
    
    .navigation {
    display: block;
    margin: 1% 0 1% 0;
    padding:0;
    clear:both;
	 
}

h1.logo {
	color:#000;	
	display: block;
	margin: 0 0 .7% 0;
    text-align: center;
    clear:both;
    width: 100%;
}

article {
	width:86%;	
	line-height: 115%;
    text-align:justify;
}	

.articleContainer {
	width: 50%;	
	float: right;
    text-align: left;
	padding-top:0;
	margin:auto;
}

.me {
	width: 35%;	
	padding-top:5%;
}

}

@media (max-width: 700px){
    
  .imageGrid > a {
  display:inline-block;
  width:30%;
  padding:0;
  margin:0;
}
}

@media (max-width: 424px) {
.logo span {
    display: block;
}

.imageGrid > a {
  display:inline-block;
  width:50%;
  padding:0;
  margin:0;
}
}


@media (max-width: 300px){
    
  .imageGrid > a {
  display:inline-block;
  width:100%;
  padding:0;
  margin:0;
}
}
